div,
button {
  margin-bottom: 8px;
}

p {
  font-family: Lato;
}

#original {
  border: 2px dashed purple;
  height: 100%;
  width: 100%;
  max-width: 300px;
  min-width: 200px;
}

#canvas {
  border: 2px dashed red;
  height: 100%;
  width: 100%;
  max-width: 300px;
  min-width: 200px;
}

.images-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  gap: 4%;
}

.zoomable {
  transition: transform 1s;
}

.zoomable:hover {
  /* (125% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transform: scale(1.25);
}
