<div>
  <p>Compiled {{ version }} @ {{ now | date: 'short' }}</p>
</div>

<h2>Step 1: Preprocessing</h2>

<div class="debug">
  <pre>
    {{ selectedImage | json }}
  </pre>
</div>

<div>
  <select name="select-image" id="select-image" [(ngModel)]="selectedImage">
    <option [value]="image" *ngFor="let image of images">
      {{ image.title }}
    </option>
  </select>
</div>

<div class="images-wrapper">
  <div>
    <img
      *ngIf="selectedImage"
      src="{{ selectedImage.src | cdn }}"
      id="original"
      alt=""
      class="zoomable"
    />
  </div>

  <div>
    <canvas id="canvas" class="zoomable"></canvas>
  </div>
</div>

<button (click)="recogniseImage()">Recognise</button>
