div,
button {
  margin-bottom: 8px;
}

p {
  font-family: Lato;
}

#original {
  border: 2px solid black;
  height: 100%;
  width: 100%;
  max-width: 300px;
}

#canvas {
  border: 2px dashed red;
  height: 100%;
  width: 100%;
  max-width: 300px;
}

.images-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  gap: 4%;
}